:root {
    --font-family: "Ubuntu", "Tahoma";
    --font-size-normal: 1.1em;

    --accent: #bedaba;
    --error: #fe615a;

    --background-dark: #333;
    --background-muted: #f2f2f2;
    --background-light: #fefefe;

    --padding-full: 15px 30px;

    --text-dark: #444;
    --text-light: #ffffff;

    --border-dashed: 1px dashed #f2f2f2;
    --border-solid: 1px solid #f2f2f2;

    --input-radius: 16px;
    --input-padding: 20px;
    --input-font-size: 1.2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}